target/
*/target/
*/*/target/
node_modules/
*/node_modules/
*/*/node_modules/
dist/
*/dist/
*/*/dist/
.idea/
*.iml
lms-platform/auth-service/target
lms-platform/lms-service/target
lms-platform/api-gateway/target
lms-platform/discovery-server/target
lms-platform/entity-library/target
lms-platform/frontend/dist
lms-platform/frontend/node_modules
lms-platform/auth-service/target/*
lms-platform/lms-service/target/*
lms-platform/api-gateway/target/*
lms-platform/discovery-server/target/*
lms-platform/entity-library/target/*
lms-platform/frontend/dist/*
lms-platform/frontend/node_modules/*
*/target/
*/*/target/
node_modules/
*/node_modules/
dist/
*/dist/
lms-platform/**/target/**
lms-platform/frontend/node_modules/**
lms-platform/frontend/dist/**
